<h1 >Battle page</h1>
<div>
    <p id = p1-display-name>Player 1: <%= p1Name %></p><br>  
    <p id = p1-hp>100</p>
</div>
<div>
     <p id = p2-display-name><%= `Player 2: ${p2Name}` %></p>
     <p id = p2-hp>100</p>
</div>
<div>

<form action="/battle-update" method="post"></form>    
    <input type="submit" id = "attack" value="attack!">
</form>   

<p><%= attackMessage %></p>

</div>
