<form action="/battle" method="post">
  <input type="text" id="p1-name" name="p1-name"><br>
  <input type="text" id="p2-name" name="p2-name" ><br>
  <input type="submit" id="start" name="start" value="Start"/>
</form>