<form action="/battle" method="post">
  <input placeholder="Player 1 name" type="text" id="p1-name" name="p1Name"><br>
  <input placeholder="Player 2 name" type="text" id="p2-name" name="p2Name" ><br>
  <input type="submit" id="start" name="start" value="Start"/>
</form>